# Node modules
/node_modules
/backend/node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env
/backend/.env

# Dependency directories
node_modules/
/backend/node_modules/

# Dependency and config files
package-lock.json
/backend/package-lock.json

# IDEs and editors
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm
